In [2]:
s = 'Four score'

s.chars.reduce(0) do |total, char|
  total += char.ord
end

984

In [5]:
s = 'Four score'

s.chars.sum(&:ord)

ArgumentError: wrong number of arguments (given 1, expected 0)

In [6]:
s = 'Four score'
n = s.size - 1

(0..n).reduce(0) { |total, idx| total += s[idx].ord}

984

In [7]:
s = 'Four score'
n = s.size - 1

(0..n).sum { |idx| s[idx].ord }

984

In [11]:
'cd'.ord.chr

"c"

__________________________

In [69]:
num = -1437

minutes = 0
hours = 0
h, m = num.divmod(60)

# _, h = h.divmod(24) if h.abs > 24

# hours = h.zero? ? 0 : 24
# new_hours = hours + h
# new_minutes = minutes + m

# "#{'%02d' % new_hours}:#{'%02d' % new_minutes}"

[-24, 3]

In [70]:
-24.divmod(24)

[-1, 0]

In [51]:
def time_of_day(num)
  minutes = 0
  h, m = num.divmod(60)

  if h.abs > 24
    _, h = h.divmod(24)
  end

  hours = (h.positive? || h.zero?) ? 0 : 24
  new_hours = hours + h
  new_minutes = minutes + m

  "#{'%02d' % new_hours}:#{'%02d' % new_minutes}"
end

:time_of_day

In [52]:
p time_of_day(0) 
# p time_of_day(-3) == "23:57"
# p time_of_day(35) == "00:35"
# p time_of_day(-1437) == "00:03"
# p time_of_day(3000) == "02:00"
# p time_of_day(800) == "13:20"
# p time_of_day(-4231) == "01:29"

"00:00"

"00:00"

In [85]:
MINUTES_PER_HOUR = 60
HOURS_PER_DAY = 24
MINUTES_PER_DAY = HOURS_PER_DAY * MINUTES_PER_HOUR

def normalize_minutes_to_0_through_1439(minutes)
  while minutes < 0
    minutes += MINUTES_PER_DAY
  end

  minutes % MINUTES_PER_DAY
end

:normalize_minutes_to_0_through_1439

In [86]:
minutes = 3000

while minutes < 0
  minutes += MINUTES_PER_DAY
end

minutes

3000

In [89]:
normalized_minutes = 3000 % MINUTES_PER_DAY

120

In [90]:
hours, minutes = normalized_minutes.divmod(60)

puts hours
puts minutes

2
0

In [94]:
format('%02d:%02d', hours, minutes)

"02:00"

In [80]:
minutes % MINUTES_PER_DAY

120

In [81]:
hours, minutes = 120.divmod(60)

[2, 0]

In [1]:
MINUTES_PER_HOUR = 60
HOURS_PER_DAY = 24
MINUTES_PER_DAY = HOURS_PER_DAY * MINUTES_PER_HOUR

1440

In [6]:
# p time_of_day(0) == "00:00"
# p time_of_day(-3) == "23:57"
# p time_of_day(35) == "00:35"
# p time_of_day(-1437) == "00:03"
# p time_of_day(3000) == "02:00"
# p time_of_day(800) == "13:20"
# p time_of_day(-4231) == "01:29"

def normalize_minutes_to_0_through_1439(minutes)
  while minutes < 0
    minutes += MINUTES_PER_DAY
  end

  minutes % MINUTES_PER_DAY
end

normalize_minutes_to_0_through_1439(-1437)

3

In [7]:
-1437 % MINUTES_PER_DAY

3

In [18]:
t = Time.new(1, 1, 1, 24, 0, 0)
new_t = t + (-1437 * 60)
new_t.strftime('%H:%M')

0001-01-02 00:00:00 -0800

In [68]:
delta_minutes = -1437

t = Time.new(2022, 10,  22, 24, 0, 0)
new_t = t + (delta_minutes * 60)
new_t.strftime('%Y-%m-%d %I:%M:%S %p')

"2022-10-22 12:03:00 AM"

In [9]:
t = Time.new(2022, 10,  22, 24, 0, 0)
d = DateTime.now

(0..7).map do |num|
  # (t + (604800 * num)).strftime('%Y-%m-%d')
  (d >> num).strftime('%Y-%m-%d')
end

["2022-10-23", "2022-11-23", "2022-12-23", "2023-01-23", "2023-02-23", "2023-03-23", "2023-04-23", "2023-05-23"]


_______________

In [30]:
def single_swap(string)
  string[-1], string[0] = string[0], string[-1]
  string
end

def swap(string)
  string.split.map { |char| single_swap(char) }.join(' ')
end

# swap('Oh what a wonderful day it is') == 'hO thaw a londerfuw yad ti si'
# swap('Abcde') == 'ebcdA'
swap('a') == 'a'

true

In [31]:
single_swap('shit')

"this"

In [32]:
word = 'wonderful'

def swap_first_last_characters(a, b)
  a, b = b, a
end

swap_first_last_characters(word[0], word[-1])

["l", "w"]

___________________

In [33]:
s = "---what's my +*& line?"
# ' what s my line '

"---what's my +*& line?"

In [34]:
def cleanup(string)
  last = ''
  new_string = ''
  n = string.size - 1
  (0..n).each do |idx|
    if string[idx].match?(/[^A-Za-z]/)
      new_string << ' ' if last != idx - 1
    else
      new_string << string[idx]
    end
    last = idx if string[idx].match?(/[^A-Za-z]/)
  end
  new_string
end

:cleanup

________

In [35]:
# word_sizes('Four score and seven.')

def word_sizes(string)
  counts = Hash.new(0)
  string.split do |word|
    counts[word.size] += 1
  end
  counts.sort_by { |k, _| k }.to_h
end

:word_sizes

In [36]:
def word_sizes(string)
  counts = string.split.each_with_object(Hash.new(0)) do |word, hsh|
    hsh[word.size] += 1
  end
  counts.sort_by { |k, _| k }.to_h
end

:word_sizes

In [37]:
def word_sizes(string)
  counts = {}
  string.split.each do |word|
    counts[word.size] = counts.fetch(word.size, 0) + 1
  end
  counts.sort_by { |k, _| k }.to_h
end

:word_sizes

In [38]:
word_sizes('Hey diddle diddle, the cat and the fiddle!')

{3=>5, 6=>1, 7=>2}

____

In [39]:
def word_sizes(string)
  counts = Hash.new(0)
  string.split.each do |word|
    alpha_chars = word.gsub(/[^A-Za-z]/, '')
    counts[alpha_chars.size] += 1
  end
  counts
end

:word_sizes

In [40]:
def word_sizes(string)
  counts = Hash.new(0)
  string.split.each do |word|
    alpha_chars = word.chars.select { |char| char.match?(/[A-Za-z]/) }
    counts[alpha_chars.size] += 1
  end
  counts
end

:word_sizes

In [41]:
def word_sizes(string)
  counts = Hash.new(0)
  string.split.each do |word|
    counts[word.count('A-Za-z')] += 1
  end
  counts
end

:word_sizes

In [42]:
p word_sizes('Four score and seven.')  == { 3 => 1, 4 => 1, 5 => 2 }
p word_sizes('Hey diddle diddle, the cat and the fiddle!') == { 3 => 5, 6 => 3 }
p word_sizes("What's up doc?") == { 5 => 1, 2 => 1, 3 => 1 }
p word_sizes('') == {}

true
true
true
true

true

In [43]:
'a'.match?(/[A-Za-z]/)

true

In [44]:
'a'.delete('A-Za-z')

""

In [45]:
'B!!!bbb'.count('A-Za-z')

4

______

In [46]:
INTEGER_WORDS = %w(zero one two three four five six seven eight nine ten eleven 
  twelve thirteen fourteen fifteen sixteen seventeen eighteen nineteen)

["zero", "one", "two", "three", "four", "five", "six", "seven", "eight", "nine", "ten", "eleven", "twelve", "thirteen", "fourteen", "fifteen", "sixteen", "seventeen", "eighteen", "nineteen"]

In [47]:
# alphabetic_number_sort((0..19).to_a) == [
#   8, 18, 11, 15, 5, 4, 14, 9, 19, 1, 7, 17,
#   6, 16, 10, 13, 3, 12, 2, 0
# ]

def alphabetic_number_sort(arr)
  alpha_nums = arr.zip(INTEGER_WORDS).to_h
  arr.sort_by { |num| alpha_nums[num] }
end

:alphabetic_number_sort

In [48]:
def alphabetic_number_sort(arr)
  alpha_nums = arr.zip(INTEGER_WORDS).to_h
  arr.sort { |a, b| alpha_nums[a] <=> alpha_nums[b] }
end

:alphabetic_number_sort

In [49]:
alphabetic_number_sort((0..19).to_a)

[8, 18, 11, 15, 5, 4, 14, 9, 19, 1, 7, 17, 6, 16, 10, 13, 3, 12, 2, 0]

________

In [50]:
def crunch(string)
  new_string = ''
  (0..(string.size - 1)).each do |idx|
    new_string << string[idx] if string[idx] != string[idx + 1]
  end
  new_string
end

:crunch

In [51]:
s = 'ddaaiillyy ddoouubbllee'

def crunch(string)
  words_deduped = string.split.map do |word|
    word.chars.select.with_index { |char, idx| char != word[idx + 1]}.join
  end
  words_deduped.join(' ')
end

:crunch

In [52]:
p crunch('ddaaiillyy ddoouubbllee') == 'daily double'
p crunch('4444abcabccba') == '4abcabcba'
p crunch('ggggggggggggggg') == 'g'
p crunch('a') == 'a'
p crunch('') == ''

true
true
true
true
true

true

In [53]:
def crunch(text)
  index = 0
  crunch_text = ''
  while index <= text.length - 1
    crunch_text << text[index] unless text[index] == text[index + 1]
    index += 1
  end
  crunch_text
end

:crunch

_____

In [54]:
# print_in_box('To boldly go where no one has gone before.')
# +--------------------------------------------+
# |                                            |
# | To boldly go where no one has gone before. |
# |                                            |
# +--------------------------------------------+

In [55]:
def print_in_box(string)
  len = string.size + 2
  h_border = '+' + ('-' * len) + '+'
  non_text_line = '|' + (' ' * len) + '|'
  text_line = '|' + string.center(len) + '|'

  puts(h_border)
  puts(non_text_line)
  puts(text_line)
  puts(non_text_line)
  puts(h_border)
end

:print_in_box

In [56]:
print_in_box('')

+--+
|  |
|  |
|  |
+--+


______

In [57]:
s = 'ass'

"ass"

In [58]:
s.reverse!

"ssa"

In [59]:
def spin_me(str)
  str.split.each do |word|
    word.reverse!
  end.join(' ')
end

:spin_me

In [60]:
s = 'hello world'

# new_s = s.split.each do |word|
#   word.reverse!
# end.join(' ')

"hello world"

In [61]:
new_s = s.split.join(' ')

"hello world"

In [62]:
puts s.object_id
puts new_s.object_id

49280
49300

_____

In [13]:
(0..20).reduce(0) do |total, num|
  total += num if num.even?
end

NoMethodError: undefined method `+' for nil:NilClass

________________

In [40]:
DEGREE = "\xC2\xB0"

"°"

In [75]:
# (76.73) == %(76°43'48")
n = 76.73
degrees = n.to_s.partition('.')[0]
ms = n.to_s.partition('.')[1..].join.to_f

0.73

_______

In [89]:
arr = %w(ABC AEIOU XYZ)

["ABC", "AEIOU", "XYZ"]

In [88]:
arr.map do |word|
  word.delete('aeiouAEIOU')
end

["BC", "", "XYZ"]

In [90]:
VOWELS = 'aeiouAEIOU'.split('')

["a", "e", "i", "o", "u", "A", "E", "I", "O", "U"]

In [94]:
arr.map do |word|
  word.chars.reject { |char| VOWELS.include?(char) }.join
end

["BC", "", "XYZ"]

In [104]:
arr.map do |word|
  word.scan(/[^aeiouAEIOU]/).join
end

["BC", "", "XYZ"]

___

In [113]:
arr = ["a", "b", "e", "d", "c"]
puts arr.object_id
# ["c", "d", "e", "b", "a"]

49320

In [117]:
def reverse!(arr)
  start_, end_ = 0, arr.size - 1

  while start_ < end_
    arr[start_], arr[end_] = arr[end_], arr[start_]
    start_ += 1
    end_ -= 1
  end
  arr
end

:reverse!

In [120]:
reverse!([1,2,3,4])

[4, 3, 2, 1]

______

In [155]:
arr = [*1..10]

def reverse(arr)
  arr.map.with_index(1) { |_, idx| arr[-idx] }
end

:reverse

In [142]:
[(arr.size - 1)..0].map { |idx| puts arr[idx] }

[nil]

In [153]:
(arr.size - 1).downto(0).map { |idx| arr[idx] }

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [157]:
[1, 2, 3, 4].inject([]) { |array, i|  array.unshift(i) }

[4, 3, 2, 1]

________

In [6]:
# merge([1, 3, 5], [3, 6, 9]) == [1, 3, 5, 6, 9]

arrays = [[1, 3, 5], [3, 6, 9]]

def merge(*arrays)
  arrays.each_with_object([]) do |sub_arr, new_arr|
    sub_arr.each do |elem|
      new_arr << elem if !new_arr.include?(elem)
    end
  end
end

merge([1, 3, 5], [3, 6, 9])

[1, 3, 5, 6, 9]

In [10]:
arr1 = [1, 3, 5]
arr2 = [3, 6, 9]

arr1 arr2

NoMethodError: undefined method `^' for [1, 3, 5]:Array

__________

In [76]:
arr = [*1..4]

[1, 2, 3, 4]

In [77]:
arr.take((arr.size/2.0).ceil)

[1, 2]

In [81]:
arr.drop((arr.size/2.0).ceil)

[3, 4]

In [ ]:
split_arr = []
split_arr << arr.take((arr.size/2.0).ceil)
split_arr << arr.drop((arr.size/2.0).ceil)

In [59]:
first_half = arr[0...middle]

[1, 2]

In [67]:
second_half = arr.slice(middle, arr.size - middle)

[3, 4]

In [7]:
[*[5].each_slice(2)]

[[5]]

In [33]:
def halvsies(arr)
  return [[], []] if arr.size.zero?
  middle = (arr.size.to_f / 2).ceil
  split_arr = [*arr.each_slice(middle)]
  split_arr << [] if split_arr.size < 2
  split_arr
end

:halvsies

In [34]:
p halvsies([1, 2, 3, 4]) == [[1, 2], [3, 4]]
p halvsies([1, 5, 2, 4, 3]) == [[1, 5, 2], [4, 3]]
p halvsies([5]) == [[5], []]
p halvsies([]) == [[], []]

true
true
true
true

true

__________

In [92]:
arr = [18,  9, 36, 96, 31, 19, 54, 75, 42, 15,
  38, 25, 97, 92, 46, 69, 91, 59, 53, 27,
  14, 61, 90, 81,  8, 63, 95, 99, 30, 65,
  78, 76, 48, 16, 93, 77, 52, 49, 37, 29,
  89, 10, 84,  1, 47, 68, 12, 33, 86, 60,
  41, 44, 83, 35, 94, 73, 98,  3, 64, 82,
  55, 79, 80, 21, 39, 72, 13, 50,  6, 70,
  85, 87, 51, 17, 66, 20, 28, 26,  2, 22,
  40, 23, 71, 62, 73, 32, 43, 24,  4, 56,
  7,  34, 57, 74, 45, 11, 88, 67,  5, 58]

[18, 9, 36, 96, 31, 19, 54, 75, 42, 15, 38, 25, 97, 92, 46, 69, 91, 59, 53, 27, 14, 61, 90, 81, 8, 63, 95, 99, 30, 65, 78, 76, 48, 16, 93, 77, 52, 49, 37, 29, 89, 10, 84, 1, 47, 68, 12, 33, 86, 60, 41, 44, 83, 35, 94, 73, 98, 3, 64, 82, 55, 79, 80, 21, 39, 72, 13, 50, 6, 70, 85, 87, 51, 17, 66, 20, 28, 26, 2, 22, 40, 23, 71, 62, 73, 32, 43, 24, 4, 56, 7, 34, 57, 74, 45, 11, 88, 67, 5, 58]

In [115]:
def find_dup(arr)
  arr.each_with_object(Hash.new(0)) do |num, hsh|
    hsh[num] += 1
    return num if hsh[num] == 2
  end
end

:find_dup

In [116]:
find_dup(arr)

73

In [101]:
def find_dup(arr)
  arr.tally.find { |_, v| v == 2 }[0]
end

:find_dup

In [111]:
def find_dup(arr)
  arr.tally.select { |_, v| v == 2 }.keys
end

:find_dup

In [112]:
find_dup(arr)

[73]

________

In [128]:
def include?(arr, search)
  arr.each do |num|
    return true if num == search
  end  
  false
end

:include?

In [145]:
[].find_index(nil)

In [131]:
def include?(arr, search)
  arr.select { |num| num == search }.size > 0
end

:include?

In [132]:
p include?([1,2,3,4,5], 3) == true
p include?([1,2,3,4,5], 6) == false
p include?([], 3) == false
p include?([nil], nil) == true
p include?([], nil) == false

true
false
false
true
false

false

______

In [158]:
stars = '*' * 3
"#{'%09s' % stars}"

"      ***"

In [162]:
target = 5
(1..target).each do |num|
  space = "%0#{target}s"
  stars = '*' * num
  puts "#{space % stars}"
end

    *
   **
  ***
 ****
*****

1..5

In [167]:
9.downto(1).each { |num| puts num }

9
8
7
6
5
4
3
2
1

9

_______

In [177]:
a = [1, 2, 3]
b = ['a', 'b', 'c']

["a", "b", "c"]

In [183]:
(0..a.size - 1).each_with_object([]) do |idx, arr|
  [a, b].each { |sub_arr| arr << sub_arr[idx] }
  # arr << a[idx]
  # arr << b[idx]
end

[1, "a", 2, "b", 3, "c"]

In [186]:
def interleave(*arrays)
  (0..arrays[0].size - 1).each_with_object([]) do |idx, arr|
    arrays.each { |sub_arr| arr << sub_arr[idx] }
  end
end

:interleave

In [194]:
def interleave(*arrays)
  (0..arrays[0].size - 1).map do |idx|
    arrays.map { |sub_arr| sub_arr[idx] }
  end
end

:interleave

In [195]:
interleave([*'a'..'c'], [*1..3], [*7..9])

[["a", 1, 7], ["b", 2, 8], ["c", 3, 9]]

In [198]:
arr1 = [*1..3]
arr2 = [*'a'..'c']

["a", "b", "c"]

In [200]:
arr1.zip(arr2).flatten

[1, "a", 2, "b", 3, "c"]

____

NoMethodError: undefined method `upcase?' for "A":String
Did you mean?  upcase
               upcase!