**1. Given the array below, turn this array into a hash where the names are the keys and the values are the positions in the array.**

In [40]:
flintstones.each_with_index.to_h

{"Fred"=>0, "Barney"=>1, "Wilma"=>2, "Betty"=>3, "Pebbles"=>4, "BamBam"=>5}

In [41]:
flintstones.map.with_index.to_h

{"Fred"=>0, "Barney"=>1, "Wilma"=>2, "Betty"=>3, "Pebbles"=>4, "BamBam"=>5}

In [18]:
flintstones = ["Fred", "Barney", "Wilma", "Betty", "Pebbles", "BamBam"]

flintstones.map.with_index { |name, idx| [name, idx] }.to_h

{"Fred"=>0, "Barney"=>1, "Wilma"=>2, "Betty"=>3, "Pebbles"=>4, "BamBam"=>5}

In [51]:
hsh = Hash.new
flintstones.each_with_index { |name, idx| hsh[name] = idx } 

hsh

{"Fred"=>0, "Barney"=>1, "Wilma"=>2, "Betty"=>3, "Pebbles"=>4, "BamBam"=>5}

In [19]:
flintstones = ["Fred", "Barney", "Wilma", "Betty", "Pebbles", "BamBam"]

flintstones.each_with_index.each_with_object({}) { |(value, idx), hash| hash[value] = idx }

{"Fred"=>0, "Barney"=>1, "Wilma"=>2, "Betty"=>3, "Pebbles"=>4, "BamBam"=>5}

**2. Add up all of the ages from the Munster family hash**

In [42]:
ages = { "Herman" => 32, "Lily" => 30, "Grandpa" => 5843, "Eddie" => 10, "Marilyn" => 22, "Spot" => 237 }

ages.each_value.sum

6174

In [47]:
ages.values.sum

6174

In [49]:
ages.each_value.reduce(&:+)

6174

In [50]:
ages.each_value.reduce { |total, value| total += value }

6174

**3. In the age hash remove people with age 100 and greater.**

In [57]:
ages = { "Herman" => 32, "Lily" => 30, "Grandpa" => 402, "Eddie" => 10 }

ages.select! { |_, v| v < 100 }
print ages

{"Herman"=>32, "Lily"=>30, "Eddie"=>10}

In [58]:
ages = { "Herman" => 32, "Lily" => 30, "Grandpa" => 402, "Eddie" => 10 }

ages.delete_if { |_, v| v >= 100 }
print ages

{"Herman"=>32, "Lily"=>30, "Eddie"=>10}

In [59]:
ages = { "Herman" => 32, "Lily" => 30, "Grandpa" => 402, "Eddie" => 10 }

ages.keep_if { |_, v| v < 100}
print ages

{"Herman"=>32, "Lily"=>30, "Eddie"=>10}

`Hash#select!` is equivalent to `Hash#keep_if`, but returns `nil` if no changes were made, though in this case that wouldn't have made any difference.

**4. Pick out the minimum age from our current Munster family hash**

In [68]:
ages = { "Herman" => 32, "Lily" => 30, "Grandpa" => 5843, "Eddie" => 10, "Marilyn" => 22, "Spot" => 237 }

ages.sort_by { |_, v| v }[0][1]

10

In [71]:
ages = { "Herman" => 32, "Lily" => 30, "Grandpa" => 5843, "Eddie" => 10, "Marilyn" => 22, "Spot" => 237 }

ages.values.sort[0]

10

In [100]:
ages = { "Herman" => 32, "Lily" => 30, "Grandpa" => 5843, "Eddie" => 10, "Marilyn" => 22, "Spot" => 237 }

ages.values.min

10

In [87]:
ages = { "Herman" => 32, "Lily" => 30, "Grandpa" => 5843, "Eddie" => 10, "Marilyn" => 22, "Spot" => 237 }

ages.sort_by(&:last).map(&:last)[0]

10

In [95]:
ages = { "Herman" => 32, "Lily" => 30, "Grandpa" => 5843, "Eddie" => 10, "Marilyn" => 22, "Spot" => 237 }

ages.sort {|a1, a2| a1[1] <=> a2[1] }.map(&:last)[0]

10

**5. In the array Find the index of the first name that starts with "Be"**

In [129]:
flintstones = %w(Fred Barney Wilma Betty BamBam Pebbles)

flintstones.each_with_index.find { |name, _| name.start_with?('Be') }.last

3

In [130]:
flintstones = %w(Fred Barney Wilma Betty BamBam Pebbles)

flintstones.each_with_index.select { |name, _| name.start_with?('Be') }.first.last

3

In [134]:
flintstones = %w(Fred Barney Wilma Betty BamBam Pebbles)

flintstones.index { |name| name.start_with?('Be') }

3

**6. Amend this array so that the names are all shortened to just the first three characters:**

In [141]:
flintstones = %w(Fred Barney Wilma Betty BamBam Pebbles)

flintstones.map! { |word| word[0, 3] }
print flintstones

["Fre", "Bar", "Wil", "Bet", "Bam", "Peb"]

In [137]:
flintstones = %w(Fred Barney Wilma Betty BamBam Pebbles)

flintstones.map! { |word| word[..2] }
print flintstones

["Fre", "Bar", "Wil", "Bet", "Bam", "Peb"]

In [140]:
flintstones = %w(Fred Barney Wilma Betty BamBam Pebbles)

flintstones.map! { |word| word.slice(0, 3) }
print flintstones

["Fre", "Bar", "Wil", "Bet", "Bam", "Peb"]

**7. Create a hash that expresses the frequency with which each letter occurs in this string**

In [143]:
statement = "The Flintstones Rock"

statement.each_char.tally

{"T"=>1, "h"=>1, "e"=>2, " "=>2, "F"=>1, "l"=>1, "i"=>1, "n"=>2, "t"=>2, "s"=>2, "o"=>2, "R"=>1, "c"=>1, "k"=>1}

In [145]:
statement = "The Flintstones Rock"

statement.chars.each_with_object(Hash.new(0)) { |value, hash| hash[value] += 1 }

{"T"=>1, "h"=>1, "e"=>2, " "=>2, "F"=>1, "l"=>1, "i"=>1, "n"=>2, "t"=>2, "s"=>2, "o"=>2, "R"=>1, "c"=>1, "k"=>1}

In [147]:
statement = "The Flintstones Rock"
counter = Hash.new(0)

statement.each_char.map { |value| counter[value] += 1 } 

print counter

{"T"=>1, "h"=>1, "e"=>2, " "=>2, "F"=>1, "l"=>1, "i"=>1, "n"=>2, "t"=>2, "s"=>2, "o"=>2, "R"=>1, "c"=>1, "k"=>1}

**8. What happens when we modify an array while we are iterating over it? What would be output by this code?**

In [164]:
numbers = [1, 2, 3, 4]
numbers.each do |number|
  p number
  numbers.shift(1)
end

1
3

[3, 4]

In [166]:
numbers = [1, 2, 3, 4]
numbers.each_with_index do |number, index|
  p "#{index}  #{numbers.inspect}  #{number}"
  numbers.shift(1)
end

"0  [1, 2, 3, 4]  1"
"1  [2, 3, 4]  3"

[3, 4]

In [160]:
numbers = [1, 2, 3, 4]
numbers.each do |number|
  p number
  numbers.pop(1)
end

1
2

[1, 2]

From this we see that our array is being changed as we go (shortened and shifted), and the loop counter used by `#each` is compared against the current length of the array rather than its original length.

In our first example, the removal of the first item in the first pass changes the value found for the second pass.

In our second example, we are shortening the array each pass just as in the first example...but the items removed are beyond the point we are sampling from in the abbreviated loop.

In both cases we see that iterators DO NOT work on a copy of the original array or from stale meta-data (length) about the array. They operate on the original array in real time.

**9. A notably missing method is something provided in Rails, but not in Ruby itself...`titleize`. This method in Ruby on Rails creates a string that has each word capitalized as it would be in a title. For example, the string.  Write your own version of the rails titleize implementation.**

In [170]:
words = "the flintstones rock"
words.split.map { |word| word.capitalize }.join(' ')

"The Flintstones Rock"

In [169]:
words = "the flintstones rock"
words.split.map { |word| word[0].upcase + word[1..] }.join(' ')

"The Flintstones Rock"

**10. Given the munsters hash below, Modify the hash such that each member of the Munster family has an additional "age_group" key that has one of three values describing the age group the family member is in (kid, adult, or senior). Your solution should produce the hash below**

**Note: a kid is in the age range 0 - 17, an adult is in the range 18 - 64 and a senior is aged 65+.**

In [178]:
munsters = {
  "Herman" => { "age" => 32, "gender" => "male" },
  "Lily" => { "age" => 30, "gender" => "female" },
  "Grandpa" => { "age" => 402, "gender" => "male" },
  "Eddie" => { "age" => 10, "gender" => "male" },
  "Marilyn" => { "age" => 23, "gender" => "female"}
}

munsters.each do |_, value| 
  value['age_group'] = case value['age']
                       when 0..18 then 'kid'
                       when 18..64 then 'adult'
                       else 'senior'
                       end 
end

{"Herman"=>{"age"=>32, "gender"=>"male", "age_group"=>"adult"}, "Lily"=>{"age"=>30, "gender"=>"female", "age_group"=>"adult"}, "Grandpa"=>{"age"=>402, "gender"=>"male", "age_group"=>"senior"}, "Eddie"=>{"age"=>10, "gender"=>"male", "age_group"=>"kid"}, "Marilyn"=>{"age"=>23, "gender"=>"female", "age_group"=>"adult"}}